.subject_inner {
    width: 95%;
    max-width: 400px;
}

.add-subject {
    z-index: 10000;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}
.add-subject form {
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
}